
<p class="font-thin text-sm">To prioritize title use the following syntax: "title"</p>
<mat-form-field class="rounded-xl w-full">
    <input class="w-full" type="text" #inputText='ngModel' [(ngModel)]="currentText" matInput (keyup.enter)="outputTextResult(inputText.value)"
        [matAutocomplete]="auto" name="text" placeholder="Insert a text"
        (input)="loadList()">
    <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let text of listText" [value]="text.content" (click)="outputTextResultClick(text)" (onSelectionChange)="outputTextResultClick(text)">
            <span>{{text.content | slice:0:50}}...</span><br>
            <span class="text-sm">{{text.book_title }}</span>
        </mat-option>
    </mat-autocomplete>
</mat-form-field>

<div class="w-full flex flex-row">
    <mat-form-field class="w-1/3 flex">
        <mat-label>Choose a mode</mat-label>
        <mat-select [(value)]="selectedMode">
            <mat-option *ngFor="let mode of modes | keyvalue" [value]="mode.key" >{{mode.value}}</mat-option>
        </mat-select>
    </mat-form-field>
    <div class="flex justify-around items-center w-2/3">
        <button mat-raised-button [disabled]="!currentText" (click)="outputTextResult(inputText.value)">Search</button>
    </div>
</div>

